#head{
    width: 100%;
}

thead{
    text-align: center;
    background: #ff2827;
}



td{
    width: 50px;
    height: 50px;
    text-align: center;
    background: #494949;
    color: white;
}



td:hover{
    background:#f40000;
}

.day{
    background: #222222;
}

.day:hover{
    background:#222222;
}


.unselectable{
    background: gray;
}

.unselectable:hover{
    background: gray;
}

#head > *{
    display:inline;
}


/* Auteur : Théo Baumgartner */