.inline > *{
    display: inline;
}

.text-center{
    text-align: center;
}

.fright{
    float: right;
}

#groupTable td{
    vertical-align: middle;
}

.green{
    color:green;
}

.red{
    color:darkred;
}

html{ overflow-y: scroll;}

.center{
    text-align: center;
}

.lib{
    margin-top: 25%;
}

.flex-container{
    display:flex;
    justify-content: space-between;
}

.rounded{
    border-radius: 100%;
}

.title{
    font-family: "Times New Roman", Times, serif;
    margin-top: 100%;
}

body.pushable > .pusher, body{
    /*background-image: url('https://wallpaperplay.com/walls/full/5/5/6/13611.jpg') !important;*/
    background-size: cover !important;
}

.darkgray{
    color: darkgray !important;
}

#clickMDPRESET{
    color: blue;
}

#gName{
    font-weight: bold;
    font-size: 2vh;
}